@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Spline Sans', sans-serif;
  -webkit-tap-highlight-color: transparent;
  min-height: max(884px, 100dvh);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.movie-card-selected {
  border: 2px solid #8c2bee;
  box-shadow: 0 0 15px rgba(140, 43, 238, 0.4);
}
